<%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'public', 'data-turbolinks-track': 'reload' %>
<div class="bgimg-1">
  <div>
	<div class="demo-bg">
		<div class="business-hours">
			<h2 class="title">Hours</h2>
			<ul class="list-unstyled opening-hours">
				<li>Sunday <span class="pull-right">8:00AM-1:30PM</span></li>
				<li>Monday <span class="pull-right">7:00AM-2:00PM</span></li>
				<li>Tuesday <span class="pull-right">7:00AM-2:00PM</span></li>
				<li>Wednesday <span class="pull-right">7:00AM-2:00PM</span></li>
				<li>Thursday <span class="pull-right">7:00AM-2:00PM</span></li>
				<li>Friday <span class="pull-right">7:00AM-2:00PM</span></li>
				<li>Saturday <span class="pull-right">7:00AM-2:00PM</span></li>
			</ul>
		</div>
	</div>
  </div>
</div>
<div class="menu">
	<h3 style="text-align:center;">MENU</h3>
	<div class = "gallergy">
		<a href="assets/images/breakfast_menu.jpg">
			<div class="image-wrapper">	
				<%= image_tag "breakfast.jpg", size: "300x300", class: "men-img"%> 
				<p>BREAKFAST</p>
			</div>
		</a>
		<a href="assets/images/lunch_menu.jpg">
			<div class="image-wrapper">
				<%= image_tag "lunch.jpg", size: "300x300", class: "men-img"%> 
				<p>LUNCH</p>
			</div>
		</a>
		<div class="image-wrapper">
			<%= image_tag "specials.jpg", size: "300x300", class: "men-img"%> 
			<p>SPECIALS</p>
		</div>
	</div>	
</div>
<div class="bgimg-2">
	<div class="caption">
		<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ABOUT US</span>
	</div>
</div>
<div style="position:relative;">
	<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
		    <p>This is where information, pictures, and video about the history of the deli and its location will be placed.</p>
	</div>
</div>
<div class="bgimg-3">
	<div class="caption">
		    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">OUR VENDORS</span>
	</div>
</div>
	<div style="position:relative;">
		<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
		    <p>This is where information and pictures about our vendors will go</p>
		</div>
</div>
<div class="bgimg-4">
			<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyArNuriE9pRTevQNKa8zGxXHwu5VNv46ZU'></script>	<div style='overflow:hidden;height:300px;width:600px;margin: 0 auto; padding-top: 50px;'><div id='gmap_canvas' style='height:300px;width:600px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='http://maps-generator.com/'>"</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=f298c83a13c2a6c6b973a697cdd9265193ab62f2'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(43.9148275,-69.96523309999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.9148275,-69.96523309999998)});infowindow = new google.maps.InfoWindow({content:'<strong>Broadway Delicatessen</strong><br>Broadway Delicatessen Brunswick Maine<br><br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
	</div>
</body>