<header>
	<section class="container group">
		<%= image_tag("logo.png", class: 'logo')%>
		<nav class="primary-nav">
			<%= link_to "Home", ''%>
			<%= link_to "Menu", ''%>
			<%= link_to "About Us", ''%>
			<%= link_to "Our Vendors", ''%>
			<%= link_to "Contact", ''%>
			<%= link_to "Catering", ''%>
			<%= link_to "Artist", ''%>
		</nav>
	</section>
</header>